:root {
	/*--theme-color-light: #2ce5ff;
	--theme-color: #2c75ff;
	--theme-color-dark: #2c05ff;*/
	
	/*--theme-color-light: #fcc;
	--theme-color: #f66;
	--theme-color-dark: #f00;*/
	
	--theme-color-light: #fccdd5;
	--theme-color: #fc8d95;
	--theme-color-dark: #fc3d45;
	
	--register-color: #3d8;
	--panel-color: #f7f7f7;
}

body {
	min-width: 440px;
}

.hideme {
	opacity:0;
	-webkit-transition: all 1s;
	transition: all 1s;
	position: relative;
	top: 20px;
}

.showme {
	opacity:1 !important;
	position: relative;
	top: 0;
}

/**********NAVIGATION BAR**********/
.nav {
	font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;
	background-color: #f0f0f0;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
}

.nav a {
	color: #5a5a5a;
	font-size: 1.2em;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

/**********PANELS**********/

/*GENERAL*/
.row {
	margin-left: 0;
	margin-right: 0;
}

.main .row, .info .row, .faq .row, .sponsors .row, .map .row {
	font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row h1 {
	font-size: 2em;
}

.row h3 {
	font-size: 1.5em;
}

/*MAIN*/
.main {
	background-color: var(--theme-color);
	background: -webkit-linear-gradient(135deg, var(--theme-color-light) , var(--theme-color-dark));
	background: -o-linear-gradient(135deg, var(--theme-color-light) , var(--theme-color-dark));
	background: -moz-linear-gradient(135deg, var(--theme-color-light) , var(--theme-color-dark));
	background: linear-gradient(135deg, var(--theme-color-light) , var(--theme-color-dark));
	/*background-image: url('peterGavel.PNG');
	background-size: cover;*/
	text-align: center;
}

.main .row {
	color: #fff;
	background-color: transparent;
}

.main h1 {
	font-size: 8em;
	font-weight: bold;
	border: 10px solid #fff;
	display: inline;
	padding: 0 20px 0 20px;
}

/*INFO*/
.info {
	text-align: center;
}

.info h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info span {
	font-weight: bold;
}

.info .box {
	margin-bottom: 20px;
}

.info .items, .info .schedule {
	text-align: left;
	background-color: #fff;
	padding: 20px;
}

.info .schedule h3:first-child, .info .items h3:first-child {
	margin-top: 0;
}

.info .schedule h3:last-child, .info .items h3:last-child {
	margin-bottom: 20px;
}

/*FAQ*/
.faq {
	text-align: center;
	background-color: var(--panel-color);
}

.faq .qa {
	text-align: left;
	background-color: #fff;
	padding: 40px;
	margin: 20px;
}

.faq .qa h3:first-child {
	color: var(--theme-color);
	margin-top: 0;
	margin-bottom: 20px;
}

.faq .qa h3:last-child {
	margin-bottom: 0;
}

/*MAP*/
.map #map {
	color: #888;
	text-align: center;
	background-color: var(--panel-color);
	height: 40vmin;
	margin: 20px;
	/*border-radius: 5px;*/
}

.map h4 {
	padding-top: 40px;
}

.map h1:first-child {
	font-weight: bold;
}

/*SPONSORS*/
.sponsors {
	text-align: center;
	background-color: var(--panel-color);
}

.sponsors .row {
	margin-bottom: 0;
}

.sponsors .logos img {
	display: block;
	max-height: 200px;
	padding: 40px;
	margin: auto;
}

/**********REGISTER BAR**********/
.learn-more {
	font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;
	text-align: center;
	background-color: var(--theme-color);
	padding-top: 20px;
	padding-bottom: 40px;
	transition: background-color 0.4s;
}

.learn-more:hover {
	background-color: var(--register-color);
}

.learn-more:active {
	background-color: var(--register-color);
}

.learn-more h1 {
	font-weight: bold;
}

.learn-more a {
	color: #fff;
	text-decoration: none;
}

/**********DEVICE FORMATTING**********/

/*PHONES*/
@media screen and (max-width: 767px) {
    body {
		font-size: 20px;
	}
	
	.nav {
		display: none;
	}
	
	.row h1 {
		font-size: 2.2em;
	}
	
	.row h3 {
		font-size: 1.4em;
	}
	
	.main .row {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.main h1 {
		font-size: 4em;
	}
	
	.info .box:first-child {
		border-right-width: 0;
		border-bottom: 2px solid var(--theme-color);
	}
	
	.map .address {
		text-align: center;
	}
	
	.map #map {
		height: 80vmin;
		margin: auto;
		margin-top: 40px;
	}
	
	.sponsors h1 {
		font-size: 1.4em;
	}
	
	.sponsors .logos img {
		max-height: 150px;
	}
}

/*TABLETS*/
@media screen and (min-width: 768px) {
    body {
		font-size: 18px;
	}
	
	.main .row {
		padding-bottom: 10em;
	}
	
	.info .box:first-child {
		border-right: 2px solid var(--theme-color);
		border-bottom-width: 0;
	}
	
	.map #map {
		height: 60vmin;
	}
	
	.sponsors .logos img {
		max-height: 150px;
	}
}

/*COMPUTERS*/
@media screen and (min-width: 992px) {
	body {
		font-size: 16px;
	}
	
	.main .row {
		padding-bottom: 10em;
	}
	
    .info .box:first-child {
		border-right: 2px solid var(--theme-color);
		border-bottom-width: 0;
	}
	
	.map .address {
		text-align: left;
	}
	
	.map #map {
		height: 40vmin;
	}
}