@font-face {
  font-family: raleway-regular;
  src: url('Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: raleway-bold;
  src: url('Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*NAVIGATION BAR*/
.nav {
	font-family: raleway-regular, Helvetica, sans-serif;
	background-color: #f7f7f7;
	padding: 20px;
	padding-top: 25px;
}

.nav a {
	color: #5a5a5a;
	font-size: 20px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

/*REGISTER BAR*/
.learn-more {
	font-family: raleway-regular, Helvetica, sans-serif;
	background-color: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 20px;
}

.learn-more h1 {
	font-family: raleway-bold, Helvetica, sans-serif;
}

.learn-more a {
	color: #00b0ff;
}

/*PANELS*/
.main .row, .info .row, .faq .row, .sponsors .row, .map .row {
	font-family: raleway-regular, Helvetica, sans-serif;
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main {
	margin-top: 20px;
}

.main .row {
	background-image: url('peterGavel.PNG');
	color: #fff;
}

.main h1 {
	font-size: 100px;
	font-family: raleway-bold, Helvetica, sans-serif;
}

.faq .qa {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
}

.faq .qa h3:first-child {
	font-family: raleway-bold, Helvetica, sans-serif;
	margin-bottom: 20px;
}

.map #map {
	height: 40vmin;
	margin: 20px;
	border-radius: 5px;
}

.map h2:first-child {
	font-family: raleway-bold, Helvetica, sans-serif;
}